<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.maishapay.smssync"
    tools:ignore="AppLinkUrlError">

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Account manager permissions -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <application
        android:name=".presentation.App"
        android:icon="@drawable/ic_launcher"
        android:installLocation="auto"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:theme">
        <!-- messages tab -->
        <activity
            android:name=".presentation.view.ui.activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:parentActivityName=".presentation.view.ui.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/message_searchable" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.view.ui.activity.MainActivity" />
        </activity>
        <activity
            android:name=".presentation.view.ui.activity.GettingStartedActivity"
            android:exported="false"
            android:label="@string/getting_started"
            android:launchMode="singleTask"
            android:parentActivityName=".presentation.view.ui.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.view.ui.activity.MainActivity" />
        </activity>
        <activity
            android:name=".presentation.view.ui.activity.OauthActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.view.ui.activity.SettingsActivity"
            android:exported="false"
            android:label="@string/action_settings"
            android:launchMode="singleTask"
            android:parentActivityName=".presentation.view.ui.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.view.ui.activity.MainActivity" />
        </activity>

        <activity
            android:name=".presentation.view.ui.activity.TwitterProfileActivity"
            android:exported="false"
            android:label="@string/twitter"
            android:launchMode="singleTask"
            android:parentActivityName=".presentation.view.ui.activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.view.ui.activity.MainActivity" />
        </activity>
        <activity
            android:name=".presentation.view.ui.activity.AddPhoneNumberActivity"
            android:exported="false"
            android:label="@string/add_phone_numbers"
            android:launchMode="singleTask"
            android:parentActivityName=".presentation.view.ui.activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.view.ui.activity.MainActivity" />
        </activity>
        <activity
            android:name=".presentation.view.ui.activity.AddKeywordsActivity"
            android:exported="false"
            android:label="@string/add_keyword"
            android:launchMode="singleTask"
            android:parentActivityName=".presentation.view.ui.activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.view.ui.activity.MainActivity" />
        </activity>

        <activity
            android:name=".presentation.view.ui.activity.AddTwitterKeywordsActivity"
            android:exported="false"
            android:label="@string/add_keyword"
            android:launchMode="singleTask"
            android:parentActivityName=".presentation.view.ui.activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.view.ui.activity.MainActivity" />
        </activity>
        <activity
            android:name=".presentation.view.ui.activity.ListWebServiceActivity"
            android:exported="false"
            android:label="@string/manage_custom_web_services"
            android:launchMode="singleTask"
            android:parentActivityName=".presentation.view.ui.activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.view.ui.activity.MainActivity" />
        </activity>
        <activity
            android:name=".presentation.view.ui.activity.AddWebServiceActivity"
            android:exported="false"
            android:label="@string/add_web_service"
            android:parentActivityName=".presentation.view.ui.activity.ListWebServiceActivity"
            android:windowSoftInputMode="stateVisible|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.view.ui.activity.ListWebServiceActivity" />
        </activity>
        <activity
            android:name=".presentation.view.ui.activity.UpdateWebServiceActivity"
            android:exported="false"
            android:label="@string/update_web_service"
            android:launchMode="singleTask"
            android:parentActivityName=".presentation.view.ui.activity.ListWebServiceActivity"
            android:windowSoftInputMode="stateVisible|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.view.ui.activity.ListWebServiceActivity" />
        </activity>
        <activity
            android:name=".presentation.view.ui.activity.QrcodeReaderActivity"
            android:label="@string/scan_qr_code">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.view.ui.activity.AutomationSettingsActivity"
            android:exported="false"
            android:label="@string/action_settings"
            android:launchMode="singleTask"
            android:parentActivityName=".presentation.view.ui.activity.SettingsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.view.ui.activity.SettingsActivity" />
        </activity>
        <!-- Services -->
        <service android:name="com.maishapay.smssync.presentation.service.SmsReceiverService" />
        <service android:name="com.maishapay.smssync.presentation.service.AutoSyncScheduledService" />
        <service android:name="com.maishapay.smssync.presentation.service.CheckTaskService" />
        <service android:name="com.maishapay.smssync.presentation.service.SyncPendingMessagesService" />
        <service android:name="com.maishapay.smssync.presentation.service.MessageResultsService" />
        <service android:name="com.maishapay.smssync.presentation.service.DeleteMessageService" />
        <service android:name="com.maishapay.smssync.presentation.service.UpdateMessageService" />

        <!-- Receivers -->
        <!-- Receiver for sms sent code -->
        <receiver android:name="com.maishapay.smssync.presentation.receiver.SmsSentReceiver">
            <intent-filter>
                <action android:name="SMS_SENT" />
            </intent-filter>
        </receiver>

        <!-- Receiver for sms delivered code -->
        <receiver android:name="com.maishapay.smssync.presentation.receiver.SmsDeliveredReceiver">
            <intent-filter>
                <action android:name="SMS_DELIVERED" />
            </intent-filter>
        </receiver>

        <!-- Receiver for pre kitkat. This is disabled when it's kitkat and above -->
        <receiver
            android:name="com.maishapay.smssync.presentation.receiver.SmsReceiver"
            android:enabled="@bool/is_pre_kitkat">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <!-- Receiver for kitkat. This is disabled when it's pre-kitkat releases -->
        <receiver
            android:name="com.maishapay.smssync.presentation.receiver.SmsReceiverKitKat"
            android:enabled="@bool/is_kitkat"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_DELIVER" />
            </intent-filter>
        </receiver>

        <!-- connectivity changed -->
        <receiver android:name="com.maishapay.smssync.presentation.receiver.ConnectivityChangedReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <!-- power changed -->
        <receiver android:name="com.maishapay.smssync.presentation.receiver.PowerStateChangedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_LOW" />
                <action android:name="android.intent.action.BATTERY_OKAY" />
            </intent-filter>
        </receiver>

        <!-- boot -->
        <receiver android:name="com.maishapay.smssync.presentation.receiver.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
            </intent-filter>
        </receiver>

        <!-- task check scheduled -->
        <receiver android:name="com.maishapay.smssync.presentation.receiver.CheckTaskScheduledReceiver" />

        <!-- auto sync scheduled -->
        <receiver android:name="com.maishapay.smssync.presentation.receiver.AutoSyncScheduledReceiver" />

        <!-- message delivery scheduled -->
        <receiver android:name="com.maishapay.smssync.presentation.receiver.MessageResultsScheduledReceiver" />
    </application>
</manifest>
